ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul a{
    /*border: 1px solid red;*/
    width: 200px;
    color: #023047;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    text-indent: 40px;
    background: #f7b600 url(imagens/menu.png) no-repeat left bottom;
    display: block;
}

a:hover, .selecionado a{
    background-position: right bottom;
    color: #fff;
    background-color: #f99200;
}

#home #navegacao .home a, 
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#noticias #navegacao .noticias a,
#contato #navegacao .contato a{
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}